*{
    margin: 0;
    padding: 0;
    font-family: 'Joan', serif;
    font-family: 'Nuosu SIL', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
}
header{
    width: 50%;
    display: flex;
    z-index: 2;
    position: fixed;
    background-color: rgb(0, 166, 255);
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    overflow: hidden;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    top: 0;
    
}

.nav_ppal{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.nav1{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.nav1 a{
    text-decoration: none;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    text-align: center;
    font-size: 1rem;
}
.nav1 a:hover{
    color: rgb(0, 225, 255);
}
.nav1 a:nth-child(1).active{
    color: rgb(0, 225, 255);
}
.nav1 a:nth-child(2).active{
    color: rgb(0, 225, 255);
}
.nav1 a:nth-child(3).active{
    color: rgb(0, 225, 255);
}
.nav1 a:nth-child(5).active{
    color: rgb(0, 225, 255);
}
.nav1 img{
    margin-top: 20px;
    width: 150px;
}
.nav_fuera{
    margin-left: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: fixed;
    z-index: 1;
}
.nav_fuera a{
    text-decoration: none;
    color: rgb(0, 166, 255);
    margin-right: 20px;
}
.nav_fuera a:hover{
    color: #1100ff;
}


body{
    background: #0f0c29; 
    background: -webkit-linear-gradient(to right, #111149, #3328b3, #0f0c29);  
    background: linear-gradient(to right, #111149, #3328b3, #0f0c29);

}


.main{
    width: 350px;
    height: 500px;
    background: rgb(0, 0, 0);
    overflow: hidden;
    background: url(../img/8eee04aeefee34699b413b5a55079b82.jpg) no-repeat center/ cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    position: absolute;
    margin-top: 10vh;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #0004ff;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #001eff4e;
    border: 1px solid rgba(255, 255, 255, 0.842);
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #0321e4;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}





.footer{
    display: flex;
    width: 100%;
    bottom: 0;
    background: black;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top: 110vh;
}
.section1{
    width: 30vh;
    margin-right: 20px;
}

.section2{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 40px;
    color: #00a6ff;
}
.section2 a:hover{
    color: #00a6ff;
}
.section2 a{
    text-decoration: none;
    color: #ffffff;
    font-size: .9rem;
}
.section2 p{
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 500;
}
.section3 a{
    padding: 5px;
    color: #ffffff;
}
.section2 p:hover{
    color: #00a6ff;
}
.section3 a:hover{
    color: #00a6ff;
}
.nav-button{
    color: white;
    text-align: right;
    display: none;
}

@media screen and (max-width: 576px){
    
    nav{
        flex-direction: column;
        text-align: center;
    }

    .nav-button{
        display: inline-block;
    }
    .navegador{
        flex-direction: column;
    }

    .desaparecer{
        display: none;   
    }


    header{
        width: 90%;
        display: flex;
        z-index: 2;
        position: fixed;
        background-color: rgb(0, 166, 255);
        margin-left: 20px;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    .nav1 a{
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 5px;
        text-align: center;
        font-size: .7rem;
    }

    .nav_fuera{
        margin-top: 20px;
        position: fixed;
        z-index: 2;
        margin-left: 86%;
    }

    .nav_fuera a{
        margin-right: 8px;
    }
/* Modal8 */
    .modal8{
        width: 90%;
        height: 90%; 
        margin-top: 5vh;
    }
    .modal-textos8{
        flex-direction: column;
    }
    .titulos{
        width: 90%;
        margin-top: 10vh;
    }
    .textos8{
        width: 90%;
        margin-top: 2vh;
    }
    input{
        width: 80%;
        height: 15px;
        margin: 10px auto;
        padding: 10px;
    }
    .titulos h1{
        text-align: left;
        font-size: 3rem;
        margin-left: 30px;
        margin-top: -25px;
        color: #ffffff;
        
    }
    .iconofont{
        margin-left: 40px;
        margin-top: 10vh;
        margin-bottom: 5vh;
    }
/* footer */
    .section1{
        width: 25vh;
        margin-right: 10px;
    }
    .section2{
        margin-right: 30px;
    }
    .section2 a{
        font-size: .8rem;
    }
    .section2 p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 960px){
    
    nav{
        flex-direction: column;
        text-align: center;
    }

    .nav-button{
        display: inline-block;
    }
    .navegador{
        flex-direction: column;
    }

    .desaparecer{
        display: none;   
    }


    header{
        width: 83%;
        display: flex;
        z-index: 2;
        position: fixed;
        background-color: rgb(0, 166, 255);
        margin-left: 10vh;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    .nav1 a{
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
        text-align: center;
        font-size: 1rem;
    }

    .nav_fuera{
        margin-top: 20px;
        position: fixed;
        z-index: 2;
        margin-left: 86%;
    }

    .nav_fuera a{
        margin-right: 8px;
    }

/* footer */
      .section1{
        width: 30vh;
        margin-right: 10px;
      }
      .section2{
        margin-right: 30px;
    }
    .section2 a{
        font-size: 1rem;
    }
    .section2 p{
        font-size: 1.2rem;
    }


.modal8{
        width: 90%;
        height: 90%; 
        margin-top: 5vh;
    }
    .modal-textos8{
        flex-direction: column;
    }
    .titulos{
        width: 90%;
        margin-top: 10vh;
    }
    .textos8{
        width: 90%;
        margin-top: 2vh;
    }
    input{
        width: 80%;
        height: 15px;
        margin: 10px auto;
        padding: 10px;
    }
    .titulos h1{
        text-align: left;
        font-size: 5rem;
        margin-left: 30px;
        margin-top: -25px;
        color: #ffffff;
        
    }
    .iconofont{
        margin-left: 40px;
        margin-top: 10vh;
        margin-bottom: 5vh;
    }
}